<%- include('partials/head') %>
<h1>Welcome to Guess Star!</h1>
<p>The song-a-day guessing game.</p>
    <div class="instruction">
        <h2>How to Play:</h2>
        <p>You have 3 chances and 25 seconds to try and guess the song title based on the clip provided as quickly as you can.
            Use the play/pause button to start and stop the song and the timer as much as you need. 
            Make a guess once you think you know it! Let's see how quick you are!
        </p>
    </div>

    <a class="btn" href="/home">Play Now!</a>

</body>
</html>